---
page_title: "Provider: Scribble"
description: |-
  Terraform Provider for scribble
---

# {{ .ProviderShortName | upper }} Provider

## Usage

### Verify

This provides a `scribble_verify` data source, which can be used with any
containerized infrastructure rules to enforce deploy-time policy checking:

{{ tffile "examples/provider/provider.tf" }}

{{ tffile "examples/data-sources/scribble-verify.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Sign

This provider also exposes `scribble_sign` and `scribble_attest` resources that will
sign and attest a provided OCI digest, which is intended to compose with
OCI providers such as [`ko`](https://github.com/ko-build/terraform-provider-ko),
[`apko`](https://github.com/chainguard-dev/terraform-provider-apko), and
[`oci`](https://github.com/chainguard-dev/terraform-provider-oci).

{{ tffile "examples/resource/scribble_sign.tf" }}

## Attest

{{ tffile "examples/resource/scribble_attest.tf" }}

## Environment Variables

| Name                    | Default                          | Description                                                                                    |
| ----------------------- | -------------------------------- | ---------------------------------------------------------------------------------------------- |
| TF_COSIGN_LOCAL         |                                  | Enables interative signing with Cosign locally (browser based flow only).                      |
| TF_COSIGN_CONNECTOR_ID  |                                  | Configures Sigstore Connector ID for local based signing.                                      |
| TF_COSIGN_ISSUER        | https://oauth2.sigstore.dev/auth | Configures Sigstore token issuer.                                                              |
| TF_COSIGN_CLIENT_SECRET |                                  | Configures Sigstore OAuth Client Secret.                                                       |
| TF_COSIGN_REDIRECT_URL  |                                  | Configures Sigstore interactive OAuth redirect URL. If empty, a random localhost port is used. |
| TF_COSIGN_DISABLE       |                                  | Disables all scribble operations.                                                                |
